@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core  first try sdfs sdsa prasasnthi 23 sep</a>.</p>
    <p>first commit with ci </p>
    <p>test</p>
    <p> test pra</p>
    <p>test2 +3 +4</p>
    <p>test nwe</p>
    <p>trd</p>
</div>
